In [50]:
print('hello world')

hello world

In [51]:
time = 10
if time == 20:
    print('pass')
elif time > 20:
    print('late')
else:
    print('o')

o

In [52]:
print("latihan")

latihan

In [53]:
print(type(True))

<class 'bool'>

In [54]:
a = b = c = 150
print(a, b, c)

150 150 150

In [55]:
print(type("4.3"))

<class 'str'>

In [56]:
print("2.5, 3")

2.5, 3

In [57]:
n = 500
print(n)

500

In [58]:
arg = 23.4
print(arg)

arg = "test"
print(arg)

23.4
test

In [59]:
a = 20
b = 10
if a > b:
    print('false')
else:
    print('true')

false

In [60]:
a = 'tes.'
a * 4

'tes.tes.tes.tes.'

In [61]:
s = 'tes'
print(s. upper())

TES

In [62]:
a = ['foo', 'bar', 'baz', 'tes', 'qux']
a[0:4]
print(a +['s', 'b'])
print(a * 3)
len(a + ['s'])

['foo', 'bar', 'baz', 'tes', 'qux', 's', 'b']
['foo', 'bar', 'baz', 'tes', 'qux', 'foo', 'bar', 'baz', 'tes', 'qux', 'foo', 'bar', 'baz', 'tes', 'qux']

6

In [63]:
print(a)
del a[2]

['foo', 'bar', 'baz', 'tes', 'qux']

In [64]:
del a[2]

In [65]:
print(a)

['foo', 'bar', 'qux']

In [66]:
a = 2
b = 4
print(a % b)

2

In [73]:
TEAM = {
    'Matematika' : 'Fisika',
    'Biologi' : 'Kimia',
    'Hutan' : 'Manajemen'
}
print(TEAM['Matematika'])
TEAM['Biologi'] = 'Ilkom'
TEAM

Fisika

{'Matematika': 'Fisika', 'Biologi': 'Ilkom', 'Hutan': 'Manajemen'}

In [76]:
del TEAM['Ilkom']
print(TEAM)

{'Matematika': 'Fisika', 'Hutan': 'Manajemen'}

In [78]:
Coding = {}
type(Coding)

Coding['fname'] = 'Pemrograman'
Coding['lname'] = 'Python'

In [80]:
Coding

{'fname': 'Pemrograman', 'lname': 'Python'}

In [81]:
d = {'a': 20, 'b': 30, 'c':40 }
print(d.items())

dict_items([('a', 20), ('b', 30), ('c', 40)])

In [87]:
person1_age = 30
person2_age = 7
person3_age = 10
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65),
    (person2_age >= 18 and person2_age <= 65),
    (person3_age >= 18 and person3_age <= 65),
)
someone_is_of_working_age

(True, False, False)